source/web-app/views/View.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://uiprogram.mezzanine.com/View"
        elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:v="http://uiprogram.mezzanine.com/View">

    <!-- Run  xjc -Xlocator com/mezzanine/dsl/web/View.xsd on this schema -->

    <!-- ========================================================================================= -->
    <!-- Widget Types -->
    <!-- ========================================================================================= -->
    <include schemaLocation=""></include>

    <complexType name="Widget" abstract="true">
        <sequence>
            <element name="visible" type="v:Binding" maxOccurs="1" minOccurs="0"></element>
        </sequence>
        <attribute name="id" type="string"></attribute>
    </complexType>

    <complexType name="MenuItemWidget" abstract="true">
        <complexContent>
            <extension base="v:Widget">
                <attribute name="outcome" type="string"></attribute>
                <attribute name="label" type="string"></attribute>
            </extension>
        </complexContent>
    </complexType>

    <complexType name="IconMenuItemWidget">
        <complexContent>
            <extension base="v:MenuItemWidget">
                <attribute name="icon" type="string"></attribute>
            </extension>
        </complexContent>
    </complexType>

    <!-- ========================================================================================= -->
    <!-- Navigation Rule Type -->
    <!-- ========================================================================================= -->

    <complexType name="NavigationRule">
        <attribute name="outcome" type="string" use="required" />
        <attribute name="target" type="string" use="required" />
    </complexType>

    <!-- ========================================================================================= -->
    <!-- Menu Item Type -->
    <!-- ========================================================================================= -->

    <complexType name="MenuItem">
        <sequence>
            <element name="userRole" type="string" minOccurs="1"
                     maxOccurs="unbounded" />
        </sequence>
        <attribute name="label" type="string" use="optional" />
        <attribute name="icon" type="string" use="optional" />
        <attribute name="order" type="int" use="optional"></attribute>
    </complexType>

    <!-- ========================================================================================= -->
    <!-- View Types -->
    <!-- ========================================================================================= -->

    <complexType name="View" abstract="true">
        <attribute name="label" type="string" use="required"></attribute>
    </complexType>

    <complexType name="SimpleView">
        <complexContent>
            <extension base="v:View">
                <sequence minOccurs="1" maxOccurs="unbounded">
                    <any processContents="strict" />
                </sequence>
                <attribute name="init" type="v:QualifiedName" use="optional">
                </attribute>
                <attribute name="destroy" type="v:QualifiedName" use="optional">
                </attribute>
                <attribute name="unit" type="string" use="optional"></attribute>

            </extension>
        </complexContent>
    </complexType>

    <complexType name="SensorView">
        <complexContent>
            <extension base="v:View">
                <choice maxOccurs="unbounded">
                    <element name="binding" type="v:Binding" maxOccurs="1" minOccurs="0"/>
                    <element name="action" type="v:ViewAction" minOccurs="1" maxOccurs="unbounded"/>
                    <element name="navigation" type="v:NavigationRule" minOccurs="1" maxOccurs="unbounded"/>
                </choice>
                <attribute name="init" type="v:QualifiedName" use="optional"/>
                <attribute name="destroy" type="v:QualifiedName" use="optional"/>
                <attribute name="unit" type="string" use="optional"/>
                <attribute name="id" type="string" use="required"/>
                <attribute name="type" type="string" use="required"/>
            </extension>
        </complexContent>
    </complexType>

    <complexType name="Field" abstract="true">
        <complexContent>
            <extension base="v:Widget">
                <sequence>
                    <element name="binding" type="v:Binding" maxOccurs="1" minOccurs="0"></element>
                </sequence>
                <attribute name="label" type="string"></attribute>
            </extension>
        </complexContent>
    </complexType>

    <complexType name="Binding" abstract="false">
        <sequence>
            <element name="attribute" type="v:Attribute" minOccurs="0"
                     maxOccurs="1">
            </element>
        </sequence>
        <attribute name="function" type="v:QualifiedName"
                   use="optional">
        </attribute>
        <attribute name="variable" type="v:QualifiedName" use="optional"></attribute>
    </complexType>

    <simpleType name="QualifiedName">
        <restriction base="string">
            <pattern value="([A-Za-z][A-Za-z0-9_]*:)?[A-Za-z][A-Za-z0-9_]*">
            </pattern>
        </restriction>
    </simpleType>

    <complexType name="TextField">
        <complexContent>
            <extension base="v:Field">
                <attribute name="datatype" type="v:DataType" use="optional"
                           default="text">
                </attribute>
            </extension>
        </complexContent>
    </complexType>


    <complexType name="TextArea">
        <complexContent>
            <extension base="v:Field">
                <attribute name="plain" type="boolean" use="optional"
                           default="true">
                </attribute>
            </extension>
        </complexContent>
    </complexType>

    <complexType name="SelectBox">
        <complexContent>
            <extension base="v:Field">
                <choice>
                    <element name="collectionSource"
                             type="v:SelectCollectionSource">
                    </element>
                    <element name="enum" type="v:EnumName"></element>
                </choice>
            </extension>
        </complexContent>
    </complexType>

    <complexType name="CheckBox">
        <complexContent>
            <extension base="v:Field"></extension>
        </complexContent>
    </complexType>

    <complexType name="DateSelect">
        <complexContent>
            <extension base="v:Field">
            </extension>
        </complexContent>
    </complexType>


    <simpleType name="EnumName">
        <restriction base="string">
            <pattern value="[A-Z][A-Z_]*[A-Z]"></pattern>
        </restriction>
    </simpleType>

    <complexType name="InfoField">
        <complexContent>
            <extension base="v:Field">
                <attribute name="value" type="string" use="optional"></attribute>
            </extension>
        </complexContent>
    </complexType>

    <complexType name="Attribute">
        <attribute name="name" type="string" use="required"></attribute>
    </complexType>

    <complexType name="Button">
        <complexContent>
            <extension base="v:ActionWidget">
                <attribute name="label" type="string" use="required"></attribute>
            </extension>
        </complexContent>
    </complexType>

    <simpleType name="DataType">
        <restriction base="string">
            <enumeration value="color"></enumeration>
            <enumeration value="email"></enumeration>
            <enumeration value="number"></enumeration>
            <enumeration value="password"></enumeration>
            <enumeration value="tel"></enumeration>
            <enumeration value="text"></enumeration>
            <enumeration value="url"></enumeration>
        </restriction>
    </simpleType>

    <simpleType name="PrimitiveType">
        <restriction base="string">
            <enumeration value="int"></enumeration>
            <enumeration value="uuid"></enumeration>
            <enumeration value="decimal"></enumeration>
            <enumeration value="date"></enumeration>
            <enumeration value="boolean"></enumeration>
            <enumeration value="string"></enumeration>
        </restriction>
    </simpleType>

    <simpleType name="SortDirectionType">
        <restriction base="string">
            <enumeration value="ascending"></enumeration>
            <enumeration value="descending"></enumeration>
        </restriction>
    </simpleType>
    
    <simpleType name="CsvExportType">
        <restriction base="string">
            <enumeration value="enabled"></enumeration>
            <enumeration value="disabled"></enumeration>
        </restriction>
    </simpleType>

    <complexType name="ActionWidget" abstract="true">
        <complexContent>
            <extension base="v:Widget">
                <sequence>
                    <element name="confirm" type="v:Confirmation" minOccurs="0" maxOccurs="1"></element>
                </sequence>
                <attribute name="outcome" type="string"></attribute>
                <attribute name="action" type="v:QualifiedName"></attribute>
            </extension>
        </complexContent>
    </complexType>

    <complexType name="SubmitButton">
        <complexContent>
            <extension base="v:Button"></extension>
        </complexContent>
    </complexType>

    <complexType name="Table">
        <complexContent>
            <extension base="v:DataWidget">
                <sequence>
                    <element name="collectionSource" type="v:Binding" maxOccurs="1" minOccurs="1">
                    </element>
                    <element name="column" type="v:Column" maxOccurs="unbounded">
                    </element>
                    <element name="rowAction" type="v:DataAction" maxOccurs="unbounded"
                             minOccurs="0">
                    </element>
                    <element name="filterDestination" type="v:Binding" maxOccurs="1" minOccurs="0">
                    </element>
                </sequence>

                <attribute name="defaultSort" type="string"></attribute>
                <attribute name="defaultSortColumn" type="int"></attribute>
                <attribute name="defaultSortDirection" type="v:SortDirectionType" default="ascending"></attribute>
                <attribute name="csvExport" type="v:CsvExportType" default="enabled"></attribute>
            </extension>
        </complexContent>
    </complexType>


    <complexType name="DataWidget">
        <complexContent>
            <extension base="v:Widget">
                <attribute name="title" type="string"></attribute>
                <attribute name="refreshIntervalSeconds" type="int"></attribute>
            </extension>
        </complexContent>
    </complexType>


    <complexType name="Column">
        <sequence>
            <element name="attributeName" type="string" maxOccurs="unbounded"></element>
            <element name="visible" type="v:Binding" maxOccurs="1" minOccurs="0"></element>
        </sequence>
        <attribute name="heading" type="string" use="required"></attribute>
    </complexType>


    <complexType name="DataAction">
        <sequence>
            <element name="binding" type="v:Binding" minOccurs="0"></element>
            <element name="confirm" type="v:Confirmation" minOccurs="0" maxOccurs="1"></element>
        </sequence>
        <attribute name="label" type="string" use="required"></attribute>
        <attribute name="action" type="v:QualifiedName" use="required">
        </attribute>
        <attribute name="icon" type="string"></attribute>
    </complexType>

    <complexType name="Map">
        <complexContent>
            <extension base="v:DataWidget">
                <sequence>
                    <element name="collectionSource" type="v:Binding" maxOccurs="1" minOccurs="1">
                    </element>
                    <element name="markerAction" type="v:MarkerAction"
                             minOccurs="0" maxOccurs="unbounded">
                    </element>
                    <element name="markerTitle" type="v:MarkerTitle"
                             minOccurs="1" maxOccurs="1">
                    </element>
                    <element name="markerIcon" type="v:MarkerIcon"
                             minOccurs="1" maxOccurs="1">
                    </element>
                    <element name="markerDesc" type="v:MarkerDesc"
                             minOccurs="1" maxOccurs="1">
                    </element>
                </sequence>

                <attribute name="latitudeAttribute" type="string"></attribute>
                <attribute name="longituteAttribute" type="string"></attribute>
            </extension>
        </complexContent>
    </complexType>

    <complexType name="MarkerAction">
        <complexContent>
            <extension base="v:DataAction"></extension>
        </complexContent>
    </complexType>

    <element name="ui">
        <complexType>
            <choice minOccurs="1" maxOccurs="1">
                <element name="view" type="v:SimpleView" maxOccurs="unbounded"/>
                <element name="sensorview" type="v:SensorView" maxOccurs="unbounded"/>
            </choice>
        </complexType>
    </element>

    <element name="button" type="v:Button" />
    <element name="submit" type="v:SubmitButton" />
    <element name="textfield" type="v:TextField" />
    <element name="textarea" type="v:TextArea" />
    <element name="table" type="v:Table" />
    <element name="datefield" type="v:DateSelect" />
    <element name="select" type="v:SelectBox" />
    <element name="map" type="v:Map" />
    <element name="menuitem" type="v:MenuItem" />
    <element name="navigation" type="v:NavigationRule" />
    <element name="view" type="v:SimpleView" />
    <element name="sensorview" type="v:SensorView" />
    <element name="invite" type="v:Invite"/>
    <element name="checkbox" type="v:CheckBox" />


    <complexType name="Invite">
        <complexContent>
            <extension base="v:Field">
                <sequence>
                    <element name="role" type="string" maxOccurs="unbounded" minOccurs="1"></element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>

    <complexType name="MarkerTitle">
        <attribute name="value" type="v:QualifiedName"></attribute>
    </complexType>

    <complexType name="MarkerIcon">
        <attribute name="value" type="v:QualifiedName"></attribute>
    </complexType>
	
    <complexType name="MarkerDesc">
        <attribute name="value" type="v:QualifiedName"></attribute>
    </complexType>

    <complexType name="Confirmation">
        <attribute name="subject" type="string" />
        <attribute name="body" type="string" />
    </complexType>

    <complexType name="Wall">
        <complexContent>
            <extension base="v:DataWidget">
                <sequence>
                    <element name="collectionSource"
                             type="v:Binding" maxOccurs="1" minOccurs="1">
                    </element>
                    <element name="itemTitle" type="v:WalltemTitle"
                             maxOccurs="1" minOccurs="1">
                    </element>
                    <element name="itemText" type="v:WallItemText"
                             maxOccurs="1" minOccurs="0">
                    </element>
                    <element name="itemOwner" type="v:WallItemOwner"
                             maxOccurs="1" minOccurs="0">
                    </element>
                    <element name="itemTime" type="v:WallItemTimestamp"
                             maxOccurs="1" minOccurs="0">
                    </element>
                    <element name="itemIcon" type="v:WallItemIcon"
                             maxOccurs="1" minOccurs="0">
                    </element>
                    <element name="itemLatitude"
                             type="v:WallItemLatitude" maxOccurs="1" minOccurs="0">
                    </element>
                    <element name="itemLongitude"
                             type="v:WallItemLongitude" maxOccurs="1" minOccurs="0">
                    </element>
                    <element name="itemAction" type="v:DataAction" maxOccurs="unbounded" minOccurs="0"></element>
                </sequence>
                <attribute name="commentHandler" type="v:QualifiedName"
                           use="optional">
                </attribute>
                <attribute name="defaultSort" type="string"
                           use="optional">
                </attribute>
                <attribute name="buttonLabel" type="string" 
                           use="optional">
                </attribute>
                <attribute name="commentAttribute" type="v:QualifiedName"></attribute>
                
            </extension>
        </complexContent>
    </complexType>

    <complexType name="WallItemIcon">
        <attribute name="value" type="v:QualifiedName"></attribute>
    </complexType>

    <complexType name="WalltemTitle">
        <attribute name="value" type="v:QualifiedName"></attribute>
    </complexType>

    <complexType name="WallItemText">
        <attribute name="value" type="v:QualifiedName"></attribute>
    </complexType>

    <complexType name="WallItemOwner">
        <attribute name="value" type="v:QualifiedName"></attribute>
    </complexType>

    <complexType name="WallItemTimestamp">
        <attribute name="value" type="v:QualifiedName"></attribute>
    </complexType>

    <complexType name="WallItemLatitude">
        <attribute name="value" type="v:QualifiedName"></attribute>
    </complexType>
    
    <complexType name="WallItemLongitude">
        <attribute name="value" type="v:QualifiedName"></attribute>
    </complexType>

    <element name="wall" type="v:Wall"></element>

    <complexType name="SelectCollectionSource">
        <complexContent>
            <extension base="v:Binding">
                <sequence>
                    <element name="displayAttribute" type="v:Attribute" maxOccurs="unbounded" minOccurs="0"></element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>

    <complexType name="ViewAction">
        <attribute name="outcome" type="string"></attribute>
        <attribute name="action" type="v:QualifiedName"></attribute>
        <attribute name="icon" type="string"></attribute>
        <attribute name="label" type="string"></attribute>
    </complexType>

    <element name="action" type="v:ViewAction"></element>


    <element name="info" type="v:InfoField"></element>

    <complexType name="BarcodeField">
        <complexContent>
            <extension base="v:Field">
                <attribute name="readOnly" type="boolean" use="optional"></attribute>
            </extension>
        </complexContent>
    </complexType>

    <element name="barcode" type="v:BarcodeField"></element>

    <complexType name="DrawImageField">
        <complexContent>
            <extension base="v:Field"></extension>
        </complexContent>
    </complexType>

    <element name="drawimage" type="v:DrawImageField"></element>

    <complexType name="FileUploadField">
        <complexContent>
            <extension base="v:Field"></extension>
        </complexContent>
    </complexType>

    <element name="fileupload" type="v:FileUploadField"></element>

    <complexType name="CanvasField">
        <complexContent>
            <extension base="v:Field"></extension>
        </complexContent>
    </complexType>

    <complexType name="ImageField">
        <complexContent>
            <extension base="v:Field"></extension>
        </complexContent>
    </complexType>

    <element name="canvas" type="v:CanvasField"></element>

    <element name="image" type="v:ImageField"></element>

    <complexType name="GPSField">
        <complexContent>
            <extension base="v:Field">
                <sequence>
                    <element name="latitude" type="v:Binding"
                             maxOccurs="1" minOccurs="1">
                    </element>
                    <element name="longitude" type="v:Binding"
                             maxOccurs="1" minOccurs="1">
                    </element>
                </sequence>
                <attribute name="readonly" type="boolean"></attribute>
                <attribute name="accuracy" type="int"></attribute>
            </extension>
        </complexContent>
    </complexType>
    
    <element name="gpsfield" type="v:GPSField"></element>

    <complexType name="FileBrowser">
        <complexContent>
            <extension base="v:DataWidget">
                <sequence>
                    <element name="collectionSource" type="v:Binding"
                             maxOccurs="1" minOccurs="1">
                    </element>
                </sequence>
                <attribute name="dataAttribute" type="string" use="required"></attribute>
            </extension>
        </complexContent>
    </complexType>

    <element name="filebrowser" type="v:FileBrowser"></element>
</schema>